<a href="https://colab.research.google.com/github/SSSpock/advpython/blob/main/skillspireDS_wk2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Data Structures

## Series

In [2]:
import numpy as np
import pandas as pd

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

In [ ]:
s = pd.Series(data, index=index)

Here, data can be many different things:
a Python dict
an ndarray
a scalar value (like 5)

In [ ]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

s.index

In [ ]:
# Series can be instantiated from dicts
d = {"b": 1, "a": 0, "c": 2}

pd.Series(d)

Series acts very similarly to a ndarray and is a valid argument to most NumPy functions. However, operations such as slicing will also slice the index.

In [ ]:
s[0]

s[:3]

s[s > s.median()]

s[[4,3,1]]

np.exp(s)

In [ ]:
# series like arrays have a single Data Type
s.dtype

In [ ]:
# A series is like a dict

s["a"]

s["e"] = 12

"e" in s

"f" in s

In [ ]:
# Vectorized Operations and label alignment

s + s

s * 2

np.exp(s)

In [ ]:
# A series has advantages over an array.  Operations between series automatically align based on the label.

s[1:] + s{:-1}

The result of an operation between unaligned Series will have the union of the indexes involved. If a label is not found in one Series or the other, the result will be marked as missing NaN. Being able to write code without doing any explicit data alignment grants immense freedom and flexibility in interactive data analysis and research. The integrated data alignment features of the pandas data structures set pandas apart from the majority of related tools for working with labeled data.

## Data Frames

# Object Creation

In [ ]:
# This week we are focused on the Pandas Library

# Creating a Series by passing a list of values, letting pandas create a default integer index:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [ ]:
# Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:

dates = pd.date_range("20130101", periods=6)

dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

In [ ]:
# Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:

df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

In [ ]:
df2.types

In [ ]:
# from dict of arrays/lists
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}

In [ ]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])

data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

pd.DataFrame(data)

pd.DataFrame(data, index=["first", "second"])

pd.DataFrame(data, columns=["C", "A", "B"])

In [ ]:
# From a dict of tuples

pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

# Viewing Data

In [ ]:
# Use DataFrame.head() and DataFrame.tail() to view the top and bottom rows of the frame respectively:

df.head()

df.tail()

df.index

df.columns

DataFrame.to_numpy() gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column. When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [ ]:
df.to_numpy()

In [ ]:
# Get fast summary statistics
df.describe()

In [ ]:
# Transpose your data
df.T

In [ ]:
# Sort By an axis
df.sort_index(axis=1, ascending=False)

In [ ]:
# Sort by values
df.sort_values(by='B')

# Selection

While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, DataFrame.at(), DataFrame.iat(), DataFrame.loc() and DataFrame.iloc().

In [ ]:
df['A']

In [ ]:
df[0:3]

df['20130102':'20130104']

In [ ]:
# Selection by Label
df.loc[dates[0]]

df.loc[, ["A", "B"]]

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

In [ ]:
df.loc["20130102", ["A", "B"]]

In [ ]:
# Selecting by position
df.iloc[3:5, 0:2]

df.iloc[[1, 2, 4], [0, 2]]

df.iloc[1:3, :]

df.iloc[:, 1:3]

In [ ]:
# Boolean Indexing
df[df["A"] > 0]

df[df > 0]

In [ ]:
# Boolean filtering

df2 = df.copy()

df2["E"] = ["one", "one", "two", "three", "four", "three"]

df2

df2[df2["E"].isin(["two", "four"])]

# Setting

In [ ]:
# Setting a new column automatically ali9gns the data by the indexes

s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))

df["F"] = s1

In [ ]:
# Setting a values by label
df.at[dates[0], "A"] = 0

In [ ]:
# Setting Values by position
df.iat[0, 1] = 0

# Merge, join, concatenate

## Concat

In [5]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)


df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

frames = [df1, df2, df3]

result = pd.concat([df1, df2, df3])

result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [8]:
result = pd.concat(frames, keys=["x", "y", "z"])
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [15]:
result.loc['y']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

## Setting on the axis

In [23]:
# Set logic on the other axis
df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)

result = pd.concat([df1, df4], axis=1)
result

# Same thing with Inner Join
result = pd.concat([df1, df4], axis=1, join="inner")
result

# # Using index from original index
result = pd.concat([df1, df4], axis=1).reindex(df1.index)
result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [24]:
# Set logic on the other axis

df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)

What should we do when dataframes don't have a meaningful index?

In [25]:
# Using Ignore Index
result = pd.concat([df1, df4], ignore_index=True, sort=False)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

## Merge

In [28]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

result = pd.merge(left, right, on="key")
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [29]:
# Merging on Multiple Keys
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)


result = pd.merge(left, right, on=["key1", "key2"])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
# Using the How Method, lets play with the joins
result = pd.merge(left, right, how="left", on=["key1", "key2"])

In [34]:
# Checking for duplicate keys
left = pd.DataFrame({"A": [1, 2], "B": [1, 2]})

right = pd.DataFrame({"A": [4, 5, 6], "B": [2, 2, 2]})

# Validate one to one
# result = pd.merge(left, right, on="B", how="outer", validate="one_to_one")
# result

# Validate one to many
result = pd.merge(left, right, on="B", how="outer", validate="one_to_many")
result

   A_x  B  A_y
0    1  1  NaN
1    2  2  4.0
2    2  2  5.0
3    2  2  6.0

## Joins

In [35]:
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)

right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)

result = left.join(right)
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [37]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [38]:
result = left.join(right, how="inner")
result

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

## Timeseries Friendly Merging

In [44]:
# Merge Ordered 
left = pd.DataFrame(
    {"k": ["K0", "K1", "K1", "K2"], "lv": [1, 2, 3, 4], "s": ["a", "b", "c", "d"]}
)

right = pd.DataFrame({"k": ["K1", "K2", "K4"], "rv": [1, 2, 3]})

# Interpolate Data with ffil
pd.merge_ordered(left, right, fill_method="ffill", right_by="rv")

     k  lv  s  rv
0   K0   1  a   1
1   K1   2  b   1
2   K1   3  c   1
3   K2   4  d   1
4   K0   1  a   2
5   K1   2  b   2
6   K1   3  c   2
7   K2   4  d   2
8   K0   1  a   3
9   K1   2  b   3
10  K1   3  c   3
11  K2   4  d   3
12  K4   4  d   3

In [41]:
right

    k  rv
0  K1   1
1  K2   2
2  K4   3

# Reshaping & Pivoting

In [45]:
import pandas as pd

# create a sample data frame
df = pd.DataFrame({'month': ['Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar'],
                   'city': ['New York', 'New York', 'New York', 'London', 'London', 'London'],
                   'revenue': [100, 200, 150, 80, 120, 90]})

# display the original data frame
print('Original data frame:')
print(df)

# use the pivot function to reshape the data
pivot_df = df.pivot(index='month', columns='city', values='revenue')

# display the pivoted data frame
print('\nPivoted data frame:')
print(pivot_df)

Original data frame:
  month      city  revenue
0   Jan  New York      100
1   Feb  New York      200
2   Mar  New York      150
3   Jan    London       80
4   Feb    London      120
5   Mar    London       90

Pivoted data frame:
city   London  New York
month
Feb       120       200
Jan        80       100
Mar        90       150

In this example, we have a data frame that shows revenue for different cities in different months. We want to reshape the data so that we can see the revenue for each city in each month. We achieve this using the pivot() function in pandas.

The pivot() function takes three arguments: index, columns, and values. The index argument specifies the column that should be used as the index in the pivoted data frame, the columns argument specifies the column that should be used as the columns in the pivoted data frame, and the values argument specifies the column that should be used as the values in the pivoted data frame.

In our example, we want to use the month column as the index, the city column as the columns, and the revenue column as the values. The resulting pivoted data frame shows the revenue for each city in each month.

Note that the pivot() function can also be used with multiple columns in the index and columns arguments, which can create more complex pivoted data frames.

In [46]:
# Reshaping & Stacking
# create a sample data frame
df = pd.DataFrame({'month': ['Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar'],
                   'city': ['New York', 'New York', 'New York', 'London', 'London', 'London'],
                   'revenue': [100, 200, 150, 80, 120, 90]})

# use the set_index function to set the index
df = df.set_index(['month', 'city'])

# display the data frame with multi-level index
print('Data frame with multi-level index:')
print(df)

# use the unstack function to pivot the data frame
unstacked_df = df.unstack()

# display the unstacked data frame
print('\nUnstacked data frame:')
print(unstacked_df)

# use the stack function to stack the data frame
stacked_df = unstacked_df.stack()

# display the stacked data frame
print('\nStacked data frame:')
print(stacked_df)

Data frame with multi-level index:
                revenue
month city
Jan   New York      100
Feb   New York      200
Mar   New York      150
Jan   London         80
Feb   London        120
Mar   London         90

Unstacked data frame:
      revenue
city   London New York
month
Feb       120      200
Jan        80      100
Mar        90      150

Stacked data frame:
                revenue
month city
Feb   London        120
      New York      200
Jan   London         80
      New York      100
Mar   London         90
      New York      150

In this example, we start with a data frame that has a multi-level index consisting of the month and city columns. We use the unstack() function to pivot the data frame, which creates a new data frame with the city column as the columns and the month column as the index. This makes it easier to compare revenue between the two cities.

We then use the stack() function to stack the data frame back to its original shape. This creates a new data frame with a multi-level index consisting of the month and city columns. This can be useful for further analysis or visualization.

Note that the stack() and unstack() functions can also be used with specific levels of the index, which can create more complex stacked and unstacked data frames. Additionally, stack() and unstack() can be chained together to create more complex data transformations.

In [47]:
# Using the Melt Function


# create a sample data frame
df = pd.DataFrame({'id': [1, 2, 3],
                   'name': ['Alice', 'Bob', 'Charlie'],
                   'age_2019': [25, 30, 35],
                   'age_2020': [26, 31, 36]})

# display the original data frame
print('Original data frame:')
print(df)

# use the top-level melt function to reshape the data
melted_df = pd.melt(df, id_vars=['id', 'name'], var_name='year', value_name='age')

# display the melted data frame
print('\nMelted data frame:')
print(melted_df)

# use the dataframe.melt() function to reshape the data
melted_df_2 = df.melt(id_vars=['id', 'name'], var_name='year', value_name='age')

# display the melted data frame
print('\nMelted data frame (using dataframe.melt()):')
print(melted_df_2)

Original data frame:
   id     name  age_2019  age_2020
0   1    Alice        25        26
1   2      Bob        30        31
2   3  Charlie        35        36

Melted data frame:
   id     name      year  age
0   1    Alice  age_2019   25
1   2      Bob  age_2019   30
2   3  Charlie  age_2019   35
3   1    Alice  age_2020   26
4   2      Bob  age_2020   31
5   3  Charlie  age_2020   36

Melted data frame (using dataframe.melt()):
   id     name      year  age
0   1    Alice  age_2019   25
1   2      Bob  age_2019   30
2   3  Charlie  age_2019   35
3   1    Alice  age_2020   26
4   2      Bob  age_2020   31
5   3  Charlie  age_2020   36

In this example, we have a data frame with columns for id, name, and two different years (age_2019 and age_2020). We want to reshape the data so that we have a single column for year and a single column for age, with one row for each combination of id and name.

We achieve this using the melt() function in pandas. The melt() function takes several important parameters, including:

id_vars: the column(s) to use as identifier variables (i.e., columns that should not be melted).
value_vars: the column(s) to use as measured variables (i.e., columns that should be melted).
var_name: the name to use for the column that will contain the variable names (i.e., the original column names).
value_name: the name to use for the column that will contain the variable values (i.e., the values from the original columns).
In our example, we specify id_vars=['id', 'name'], since we want to use both the id and name columns as identifier variables. We specify

## Pivot Tables & Summary Statistics

In [53]:
# create a sample data frame
df = pd.DataFrame({'month': ['Jan', 'Feb', 'Mar', 'Jan', 'Feb', 'Mar'],
                   'city': ['New York', 'New York', 'New York', 'London', 'London', 'London'],
                   'revenue': [100, 200, 150, 80, 120, 90]})

print(df)
print('//')
# use pivot function to create a pivoted data frame
pivot_df = df.pivot(index='month', columns='city', values='revenue')

# use stack function to stack the data frame
stacked_df = pivot_df.stack()

# use groupby function to group by city and calculate mean revenue
grouped_df = df.groupby('city')['revenue'].mean()

# use unstack function to unstack the data frame
unstacked_df = pivot_df.unstack()

# display the results
print('Pivoted data frame:')
print(pivot_df)
print('\nStacked data frame:')
print(stacked_df)
print('\nMean revenue by city:')
print(grouped_df)
print('\nUnstacked data frame:')
print(unstacked_df)

  month      city  revenue
0   Jan  New York      100
1   Feb  New York      200
2   Mar  New York      150
3   Jan    London       80
4   Feb    London      120
5   Mar    London       90
//
Pivoted data frame:
city   London  New York
month
Feb       120       200
Jan        80       100
Mar        90       150

Stacked data frame:
month  city
Feb    London      120
       New York    200
Jan    London       80
       New York    100
Mar    London       90
       New York    150
dtype: int64

Mean revenue by city:
city
London       96.666667
New York    150.000000
Name: revenue, dtype: float64

Unstacked data frame:
city      month
London    Feb      120
          Jan       80
          Mar       90
New York  Feb      200
          Jan      100
          Mar      150
dtype: int64

In this example, we have a data frame that shows revenue for different cities in different months. We want to use pivot, stack, unstack, and group by to create insights from this data.

We start by using the pivot() function to create a pivoted data frame, which shows the revenue for each city in each month. We then use the stack() function to stack the data frame, creating a new data frame that has a multi-level index consisting of the month and city. This can be useful for further analysis or visualization.

We then use the groupby() function to group the data by city and calculate the mean revenue for each city. This provides a quick summary of the revenue data by city.

Finally, we use the unstack() function to unstack the pivoted data frame, creating a new data frame that shows the revenue for each city in each month. This can be useful for comparing revenue between the two cities.

Note that we could also use other statistics such as median, standard deviation, or minimum/maximum revenue instead of mean. Additionally, we could use other functions such as resample() to aggregate the revenue data over a specified time interval.

In [57]:
pd.pivot_table(df, values=['revenue'], index=['month'])

       revenue
month
Feb        160
Jan         90
Mar        120