<a href="https://colab.research.google.com/github/SSSpock/advpython/blob/main/skillspiresql_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas
import io

df=pd.read_csv(io.BytesIO(uploaded['transactions.csv']), sep=", ")

print(df)

   "transaction_id  customer_id  sku transaction_datetime transaction_amount"
0             "501           29   14  2021-01-01 10:15:00              19.99"
1             "502           45   10  2021-01-01 11:30:00               9.99"
2             "503           67    8  2021-01-01 13:45:00              14.99"
3             "504           21    5  2021-01-01 16:00:00              24.99"
4             "505           73    9  2021-01-01 18:15:00              19.99"
..             ...          ...  ...                  ...                 ...
75            "576           77   10  2021-01-11 12:00:00               9.99"
76            "577           91    3  2021-01-11 13:15:00              39.99"
77            "578           15    5  2021-01-11 14:30:00              24.99"
78            "579           76    7  2021-01-11 15:45:00              14.99"
79            "580           84    8  2021-01-11 17:00:00              14.99"

[80 rows x 5 columns]

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
import pandas as pd
import sqlite3

#Install ipython-sql

!pip install ipython-sql

#Use the splite library and create a connection
cnn = sqlite3.connect("Run_SQL_Jupyter.db")

#Add the dataframe df into the sql database

df.to_sql("people_2",cnn) #<- here people will be the name of the table and cnn is just the variable to hold the connection

#Load the sql module to Python
%load_ext sql
%sql sqlite:///Run_SQL_Jupyter.db

In [48]:
df.to_sql("transactions",cnn)

In [49]:
#CELL Magic to run SQL Commands in Python
%%sql 

SELECT*FROM transactions

 * sqlite:///Run_SQL_Jupyter.db
Done.

[(0, '"501', 29, 14, '2021-01-01 10:15:00', '19.99"'),
 (1, '"502', 45, 10, '2021-01-01 11:30:00', '9.99"'),
 (2, '"503', 67, 8, '2021-01-01 13:45:00', '14.99"'),
 (3, '"504', 21, 5, '2021-01-01 16:00:00', '24.99"'),
 (4, '"505', 73, 9, '2021-01-01 18:15:00', '19.99"'),
 (5, '"506', 94, 3, '2021-01-02 09:00:00', '39.99"'),
 (6, '"507', 41, 1, '2021-01-02 10:15:00', '79.99"'),
 (7, '"508', 60, 7, '2021-01-02 11:30:00', '14.99"'),
 (8, '"509', 12, 6, '2021-01-02 12:45:00', '19.99"'),
 (9, '"510', 33, 2, '2021-01-02 14:00:00', '59.99"'),
 (10, '"511', 57, 10, '2021-01-02 16:15:00', '9.99"'),
 (11, '"512', 20, 4, '2021-01-02 18:30:00', '29.99"'),
 (12, '"513', 62, 5, '2021-01-03 09:15:00', '24.99"'),
 (13, '"514', 15, 6, '2021-01-03 10:30:00', '19.99"'),
 (14, '"515', 39, 7, '2021-01-03 11:45:00', '14.99"'),
 (15, '"516', 70, 9, '2021-01-03 13:00:00', '19.99"'),
 (16, '"517', 88, 2, '2021-01-03 14:15:00', '59.99"'),
 (17, '"518', 24, 1, '2021-01-03 15:30:00', '79.99"'),
 (18, '"519', 76, 4, '2021-01-03 16:45:00', '29.99"'),
 (19, '"520', 42, 8, '2021-01-03 18:00:00', '14.99"'),
 (20, '"521', 66, 5, '2021-01-04 09:45:00', '24.99"'),
 (21, '"522', 28, 3, '2021-01-04 11:00:00', '39.99"'),
 (22, '"523', 90, 6, '2021-01-04 12:15:00', '19.99"'),
 (23, '"524', 46, 9, '2021-01-04 13:30:00', '19.99"'),
 (24, '"525', 59, 1, '2021-01-04 14:45:00', '79.99"'),
 (25, '"526', 82, 7, '2021-01-04 16:00:00', '14.99"'),
 (26, '"527', 7, 2, '2021-01-04 17:15:00', '59.99"'),
 (27, '"528', 49, 3, '2021-01-05 09:30:00', '39.99"'),
 (28, '"529', 16, 5, '2021-01-05 10:45:00', '24.99"'),
 (29, '"530', 68, 7, '2021-01-05 12:00:00', '14.99"'),
 (30, '"531', 71, 4, '2021-01-05 13:15:00', '29.99"'),
 (31, '"532', 9, 10, '2021-01-05 14:30:00', '9.99"'),
 (32, '"533', 75, 6, '2021-01-05 15:45:00', '19.99"'),
 (33, '"534', 37, 2, '2021-01-05 17:00:00', '59.99"'),
 (34, '"535', 98, 1, '2021-01-05 18:15:00', '79.99"'),
 (35, '"536', 44, 5, '2021-01-06 09:30:00', '24.99"'),
 (36, '"537', 77, 6, '2021-01-06 10:45:00', '19.99"'),
 (37, '"538', 91, 8, '2021-01-06 12:00:00', '14.99"'),
 (38, '"539', 54, 9, '2021-01-06 13:15:00', '19.99"'),
 (39, '"540', 86, 3, '2021-01-06 14:30:00', '39.99"'),
 (40, '"541', 23, 10, '2021-01-06 15:45:00', '9.99"'),
 (41, '"542', 95, 1, '2021-01-06 17:00:00', '79.99"'),
 (42, '"543', 50, 7, '2021-01-06 18:15:00', '14.99"'),
 (43, '"544', 26, 5, '2021-01-07 09:30:00', '24.99"'),
 (44, '"545', 64, 2, '2021-01-07 10:45:00', '59.99"'),
 (45, '"546', 3, 3, '2021-01-07 12:00:00', '39.99"'),
 (46, '"547', 48, 6, '2021-01-07 13:15:00', '19.99"'),
 (47, '"548', 85, 4, '2021-01-07 14:30:00', '29.99"'),
 (48, '"549', 14, 1, '2021-01-07 15:45:00', '79.99"'),
 (49, '"550', 65, 8, '2021-01-07 17:00:00', '14.99"'),
 (50, '"551', 19, 9, '2021-01-07 18:15:00', '19.99"'),
 (51, '"552', 36, 5, '2021-01-08 09:30:00', '24.99"'),
 (52, '"553', 80, 6, '2021-01-08 10:45:00', '19.99"'),
 (53, '"554', 30, 10, '2021-01-08 12:00:00', '9.99"'),
 (54, '"555', 94, 3, '2021-01-08 13:15:00', '39.99"'),
 (55, '"556', 60, 4, '2021-01-08 14:30:00', '29.99"'),
 (56, '"557', 20, 7, '2021-01-08 15:45:00', '14.99"'),
 (57, '"558', 73, 9, '2021-01-08 17:00:00', '19.99"'),
 (58, '"559', 43, 10, '2021-01-08 18:15:00', '9.99"'),
 (59, '"560', 23, 2, '2021-01-09 09:30:00', '59.99"'),
 (60, '"561', 37, 1, '2021-01-09 10:45:00', '79.99"'),
 (61, '"562', 70, 6, '2021-01-09 12:00:00', '19.99"'),
 (62, '"563', 71, 5, '2021-01-09 13:15:00', '24.99"'),
 (63, '"564', 33, 8, '2021-01-09 14:30:00', '14.99"'),
 (64, '"565', 51, 9, '2021-01-09 15:45:00', '19.99"'),
 (65, '"566', 45, 4, '2021-01-09 17:00:00', '29.99"'),
 (66, '"567', 46, 7, '2021-01-10 09:30:00', '14.99"'),
 (67, '"568', 29, 5, '2021-01-10 10:45:00', '24.99"'),
 (68, '"569', 80, 10, '2021-01-10 12:00:00', '9.99"'),
 (69, '"570', 99, 3, '2021-01-10 13:15:00', '39.99"'),
 (70, '"571', 44, 8, '2021-01-10 14:30:00', '14.99"'),
 (71, '"572', 25, 6, '2021-01-10 15:45:00', '19.99"'),
 (72, '"573', 8, 1, '2021-01-10 17:00:00', '79.99"'),
 (73, '"574', 56, 9, '2021-01-11 09:30:00', '19.99"'),
 (74, '"575', 66, 4, '2021-01-11 10:45:00', '29.99"'),
 (75, '"576', 77, 10, '2021-01-11 12:00:00', '9.99"'),
 (76, '"577', 91, 3, '2021-01-11 13:15:00', '39.99"'),
 (77, '"578', 15, 5, '2021-01-11 14:30:00', '24.99"'),
 (78, '"579', 76, 7, '2021-01-11 15:45:00', '14.99"'),
 (79, '"580', 84, 8, '2021-01-11 17:00:00', '14.99"')]